

        h1 {color: #A3F0DB; font-family: "Futura";
            margin:0;

		}

		h2 {color: blue;background-color:yellow;font-family: "Futura";
	         text-align: center; border: dashed 5px black;
	     }

		p {background-color:#B3CDE6}

		body{
			background-color:green
		}

		.address{
			color: chocolate;
		}

		.header-title{
			font-size: 100px}
		

	  img {
	  	width: 300px;
	  	height: 200px;
	  	position: relative;
	  	left: 50%
	  	width:100px;
	  	margin-left:-50px;


		}